faust==1.10.4
certifi
python-dotenv
click_completion
python-rocksdb==0.7.0
aiomysql
aiohttp
asyncio
aiomonitor
pytest-asyncio
testcontainers
sqlalchemy

## install conda install -c conda-forge python-rocksdb