faust==1.10.4
certifi
python-dotenv
click_completion
python-rocksdb==0.7.0
asyncpg
aiohttp
asyncio
aiomysql
aiomonitor
pytest-asyncio
testcontainers
sqlalchemy
pytz
notify-run
python-schema-registry-client
pydantic
tortoise-orm[aiomysql]


## install conda install -c conda-forge python-rocksdb